@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Caesar+Dressing&family=Julius+Sans+One&family=Libre+Baskerville&family=Mulish&family=Outfit&family=Pompiere&family=Poppins&family=Work+Sans&display=swap');

:root{
  --mainPink: #FFF2E8;
  --mainBlue: #13304E;
  --darkPink: #FFB9B9;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins";
  background-color: var(--mainPink);
  color: var(--mainBlue);
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px 40px;
  border-bottom: 1px solid var(--mainBlue);
  font-size: 20px;
  font-weight: medium;
}

li{
  list-style: none;
}

ul{
  display: flex;
  gap: 24px;
  border: 1px solid var(--mainBlue);
  border-radius: 25px;
  padding: 6px 12px;
}

.headerContainer button{
  font: inherit;
  color: inherit;
  border: 1px solid var(--mainBlue);
  border-radius: 25px;
  padding: 6px 12px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-in;
}

a{
  border-radius: 15px;
  padding: 0 12px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

a:hover, .headerContainer button:hover{
  background-color: var(--darkPink);
}

.homeTitleText{
  font-weight: medium;
  font-size: 67px;
  text-align: center;
  line-height: 80px;
}

.homeSubTitleText{
  font-size: 22px;
  text-align: center;
  color: black;
  width: 595px;
}

.homeButtonsContainer button{
  font: inherit;
  padding: 16px 12px;
  border: none;
  border-radius: 35px;
  font-size: 20px;
  font-weight: medium;
  cursor: pointer;
  width: 290px;
}

.orderCustomButton{
  background-color: var(--darkPink);
  color: var(--mainBlue);
}

.viewMenuButton{
  background-color: var(--mainBlue);
  color: var(--mainPink);
}

.heroContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 600px;
  position: relative; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -265%);
}

.homeButtonsContainer{
  display: flex;
  gap: 20px;
}

.sprinklesContainer{
  position: relative; 
  left: 50%;
  animation: rotation 30s infinite linear;
  transform: translateX(-50%);
}

.homeContainer{
  height: 100vh;
}

@keyframes rotation {
  from {
      transform: translateX(-50%) rotate(0deg);
  }
  to {
      transform: translateX(-50%) rotate(360deg);
  }
}
